$mobileCutoff: 500px;

* {
  box-sizing: border-box;
}

.home {
  background-color: #faf8f5;
  flex: 1;
  padding-bottom: 1rem;

  @media(max-width: $mobileCutoff) {
    padding: 0 1rem;
  }
}

.outer-container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 500px;  

  .banner {
    padding: 2rem 0 .5rem 0;

    @media(max-width: $mobileCutoff) {
      padding: 2rem 0 1rem;
    }
  }

  .inner-container {
    h1, h2, h3, h4, h5, h6 {
      color: #414141;  
      font-weight: 100;
    }

    code {
      color: #656565;
    }

    h1 {
      color: #414141;
      font-size: 2.5rem;
      text-align: left;
      line-height: 1.4;

      @media(max-width: $mobileCutoff) {
        font-size: 2rem;
      }
    }

    p {
      color: #3a3a3a;
      font-weight: 100;
      line-height: 1.5;
    }

    .button-bar {
      display: flex;
      padding-top: 1rem;

      @media(max-width: $mobileCutoff) {
        padding-right: 1rem;
      }

      a {
        background-color: #2b2c34;
        text-decoration: none;
        padding: 1rem;
        text-align: center;
        color:#faf8f5;
        flex: 1;

        &:first-child {
          margin-right: 1rem;      
        }

        &:hover {
          background-color: #41424e;
        }
      }
    }
  }
}
