$mobileCutoff: 500px;

* {
  box-sizing: border-box;
}

.home {
  background-color: #faf8f5;
  flex: 1;
  padding-bottom: 1rem;

  @media(max-width: $mobileCutoff) {
    padding: 0 1rem;
  }
}

.outer-container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 500px;  

  .banner {
    padding: 2rem 0 .5rem 0;

    @media(max-width: $mobileCutoff) {
      padding: 2rem 0 1rem;
    }
  }
}
