$mobileCutoff: 500px;

* {
  box-sizing: border-box;
}

.home {
  flex: 1;
  padding-bottom: 1rem;

  h1 {
    font-size: 1.55rem;
  }
}

.outer-container {
  display: flex;
  justify-content: center;
}

.top {
  background: linear-gradient(to bottom right, #ffffff -123%, #ffffff, transparent), url(/images/poly8.svg);
}

.header-container {
  width: 50%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 12rem;
  padding-bottom: 12rem;

  @media(max-width: 400px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 12rem;
  }

  @media(max-width: 800px) {
    width: 100%;
  }
}
